.float-rights{
    float: right;
}

.required:after {
  content:" *";
  color: red;
}

#example_filter input {
  border-radius: 5px;
}

.select2{
  width:100%!important;
}

.select2-selection__rendered {
  margin-top: 2px;
  font-size: 14px;
}

@media(max-width: 720px) {
    .title-table{
        font-size: 20px;
        text-align: center;
    }

    .float-rights,.mobile {
      float: none;
      text-align: center;
    }

    .input-kode-penembakan{
      width: 65%;
    }
}