#cegah anonymous
<Files .htaccess>
    order allow,deny
    deny from all
</Files>

#aturan url dashboard
<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteRule ^dashboard index.php [NC,L]
    RewriteRule ^transpenembakan transaksi-penembakan.php [NC,L]
    RewriteRule ^historypenembakan transaksi-penembakan-history.php [NC,L]
    RewriteRule ^saldolimit saldo-limit.php [NC,L]
    RewriteRule ^invoicesales invoice-sales.php [NC,L]
    RewriteRule ^datapelanggan data-pelanggan.php [NC,L]
    RewriteRule ^setoransales setoran-sales.php [NC,L]
</IfModule>