.margintop{
    margin-top: 100px;
}

.margintop2{
    margin-top: 70px;
}

@media screen and (min-width: 320px){
    /* For tablets: */
    .margintop{
        margin-top: 50px;
    }

    .margintop2{
        margin-top: 10px;
    }
}