.margintop{
    margin-top: 100px;
}

.margintop2{
    margin-top: 70px;
}

.error-text{
    font-size: 10px;
    color: red;
}

.toast {
    opacity: 1 !important;
  }
  
#toast-container > div {
    opacity: 1 !important; 
}

@media screen and (min-width: 320px){
    /* For tablets: */
    .margintop{
        margin-top: 50px;
    }

    .margintop2{
        margin-top: 10px;
    }
}